{% extends 'base.html.twig'%} {% block body%}

<div class="container mt-4 ">
    <h1> Creer un Nouveau Bien </h1>
    {{ include ('admin/property/form.html.twig', {form:form,button: 'Creer'}) }}
</div>
{%endblock%} {% block title%} {%endblock%}