{% extends 'base.html.twig'%} {% block body%}

<div class="container mt-4 ">
    <h1> Creer un Nouvelle Options </h1>
    {{ include ('admin/option/form.html.twig', {form:form,button: 'Creer'}) }}
</div>

{%endblock%} {% block stylesheets%} {% endblock%} {% block javascript %} {% endblock %}